{% extends 'FulgurioLightCMSBundle::adminBase.html.twig' %}

{% block title %}{% trans from 'admin' %}fulgurio.lightcms_config.title{% endtrans %}{% endblock %}

{% block javascriptTop %}
	<link href="{{ asset('bundles/fulguriolightcmsconfig/css/bootstrap-fileupload.min.css') }}" rel="stylesheet">
	<script src="{{ asset('bundles/fulguriolightcmsconfig/js/bootstrap-fileupload.min.js') }}"></script>
{% endblock %}

{% block content %}
{% for flashMessage in app.session.flashbag.get('notice') %}			<div class="alert alert-notice">{{ flashMessage|trans }}<br /></div>{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}			<div class="alert alert-success">{{ flashMessage|trans }}<br /></div>{% endfor %}
<form method="post" class="form-horizontal" action="{{ path('LightCMS_Admin_Config') }}" enctype="multipart/form-data">
	<fieldset>
		<legend>{%trans from 'admin' %}fulgurio.lightcms_config.edit_form.legend{% endtrans %}</legend>
{% if form.configs.children is not empty %}
{%   for config in form.configs.children %}
		<div class="row">
			<div class="span12">
				<div class="control-group">
					<label class="control-label" for="{{ config.meta_value.vars.id }}">{{ config.meta_key.vars.value|trans({}, 'admin') }}</label>
					<div class="controls">
						<input type="hidden" name="{{ config.meta_type.vars.full_name }}" value="{{ config.meta_type.vars.value }}" />
						<input type="hidden" name="{{ config.meta_key.vars.full_name }}" value="{{ config.meta_key.vars.value }}" />
{%     if config.meta_type.vars.value == 'file' %}
						<div class="fileupload {% if config.meta_value.vars.value %}fileupload-exists{% else %}fileupload-new{% endif %}" data-provides="fileupload">
							<input type="hidden" name="{{ config.meta_value.vars.full_name }}" value="{{ config.meta_value.vars.value }}" data-name="{{ config.meta_file_value.vars.full_name }}" />
							<div class="input-append">
								<div class="uneditable-input span3">
									<i class="icon-file fileupload-exists"></i>
									<span class="fileupload-preview">{{ config.meta_value.vars.value }}</span>
								</div>
								<span class="btn btn-file">
									<span class="fileupload-new">{% trans from "admin" %}fulgurio.lightcms_config.edit_form.select_file{% endtrans %}</span>
									<span class="fileupload-exists">{% trans from "admin" %}fulgurio.lightcms_config.edit_form.change_file{% endtrans %}</span>
									<input type="file" id="{{ config.meta_value.vars.id }}" name="{{ config.meta_file_value.vars.full_name }}" />
								</span>
								<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">{% trans from "admin" %}fulgurio.lightcms_config.edit_form.remove_file{% endtrans %}</a>
							</div>
						</div>
{%      elseif config.meta_type.vars.value == 'image' %}
						<div class="fileupload {% if config.meta_value.vars.value %}fileupload-exists{% else %}fileupload-new{% endif %}" data-provides="fileupload">
							<input type="hidden" name="{{ config.meta_value.vars.full_name }}" value="{{ config.meta_value.vars.value }}" data-name="{{ config.meta_file_value.vars.full_name }}" />
							<div class="fileupload-preview fileupload-exists thumbnail" style="width: 50px; height: 50px;">{% if config.meta_value.vars.value %}<img src="{{ config.meta_value.vars.value }}" alt="" />{% endif %}</div>
							<div class="fileupload-new thumbnail" id="thumbnail" style="width: 50px; height: 50px;"><img src="http://www.placehold.it/50x50/EFEFEF/AAAAAA" alt="" /></div>
							<span class="btn btn-file"><span class="fileupload-new">{% trans from "admin" %}fulgurio.lightcms_config.edit_form.select_image{% endtrans %}</span><span class="fileupload-exists">{% trans from "admin" %}fulgurio.lightcms_config.edit_form.change_image{% endtrans %}</span><input id="{{ config.meta_value.vars.id }}" type="file" name="{{ config.meta_file_value.vars.full_name }}" /></span>
							<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">{% trans from "admin" %}fulgurio.lightcms_config.edit_form.remove_image{% endtrans %}</a>
						</div>
{%      else %}
						<input type="text" id="{{ config.meta_value.vars.id }}" class="input-xlarge" name="{{ config.meta_value.vars.full_name }}" value="{{ config.meta_value.vars.value }}" />
{%      endif %}
					</div>
				</div>
			</div>
		</div>
{%   endfor %}
		<div class="clearfix"></div>
		<div class="form-actions">
			<input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}" />
			<button type="submit" class="btn btn-primary" name="realSubmit" value="1" tabindex="1">{% trans from 'admin' %}fulgurio.lightcms.save{% endtrans %}</button>
		</div>
{% else %}
		<p>{% trans from 'admin' %}fulgurio.lightcms_config.edit_form.no_params{% endtrans %}</p>
{% endif %}
	</fieldset>
</form>
{% endblock %}
